# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

/server/index.js
/public/build

.cache
.env
.vercel
.output
.vscode

/build/
/public/build
/api/index.js
/api/index.js.map
api/index.js.map

/cypress/screenshots
/cypress/videos
/coverage
api/
