# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: E2E Scheduled Tests

on:
  push
  # schedule:
  # - cron: '22 0 * * *'
  # workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: 'Run ALL Tests'

    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install

      - name: Run Tests
        run: bun cypress:run
